* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d4d4d4;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  background-color: rgba(255, 190, 190, 0);
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 48px;
}

.section-header {
  margin-top: 0px;
  text-align: center;
  font-size: 62px;
}

.none {
  display: none !important;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; /*По основной оси(У)*/
  align-items: center; /*По оси Х*/

  height: 100vh;
  width: 100%;
  color: #ffffff;
  font-family: "Russo One", sans-serif;

  background: url("../image/header/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  border: none;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
}

.headertitle {
  margin: 0;
  margin-bottom: 15px;
}

.header-subtitle {
  margin: 0;
}

/*О клане*/
.about {
  height: auto;
  margin: 0;
  position: relative;
  display: flex;
  background-color: #d4d4d4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.button1 {
  font-size: 150%;
  width: 25vw;
  height: 48px;
  position: absolute;
  padding: 0%;
  background-color: #323332cb;
  border: none;
  left: 25%;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
}

.button2 {
  font-size: 150%;
  width: 25vw;
  height: 48px;
  position: absolute;

  padding: 0%;
  background-color: #323332cb;
  border: none;
  left: 50%;
  color: #ffffff;
  border-radius: 8px;
}

.button3 {
  font-size: 150%;
  width: 24vw;
  height: 48px;
  position: absolute;

  background-color: #323332cb;
  border: none;
  left: 75%;
  color: #ffffff;
  border-radius: 8px;
}

.button1 h5 {
  position: relative;
  margin: 0%;
}

.button2 h5 {
  position: relative;
  margin: 0%;
}

.button3 h5 {
  position: relative;
  margin: 0%;
}

.logo {
  top: -5px;
  height: 128px;
  width: 256px;
  left: 1%;
  animation: rotation 200s infinite linear;
  position: relative;
}

.roster {
  height: auto;
}

.roster h1 {
  color: #323332cb;
  text-align: center;
  padding-top: 5%;
}

.playerscontainer {
  padding-top: 2.5%;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.playerscol {
  flex-basis: 20%;
  padding: 2.5%;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
}

.playertscard {
  margin-bottom: 5%;
  height: 100%;
  width: 220px;
  padding: 0px;
  box-shadow: 0px 10px 40px #323332cb;
  background-color: #323332cb;
  border-color: black;
  border-radius: 8px;
  color: #ffffff;
  justify-content: center;
  text-align: center;
  
}

.playertscard img {
  border-top: black;
  border-radius: 8px;
  width: 220px;
  height: 127px;
}

.card button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.container1 {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5%;
}

.col1 {
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
}

.card1 {
  margin-bottom: 5%;
  height: 100%;
  padding: 5%;
  width: 30vw;
  background-color: #323332cb;
  box-shadow: 0px 10px 40px #323332cb;
  border: 2px solid #323332cb;
  border-radius: 8px;
  text-align: center;
}

.card2 {
  margin-bottom: 5%;
  width: 256px;
  background-color: #323332cb;
  box-shadow: 0px 10px 40px #323332cb;
  border: 2px solid #323332cb;
  border-radius: 8px;
  text-align: center;
}

.card1 h1 {
  text-align: center;
}

.card2 h1 {
  text-align: center;
}

.contact_us {
  height: auto;
}

.contactcontainer {
  padding-top: 5%;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  color: white;
}

.contactcontainer h1 {
  text-align: center;
  color: #323332cb;
}

.contactwrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contactcol {
  flex-wrap: nowrap;
  justify-content: center;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  background-color: #323332cb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #323332cb;
  border: 2px, gray;
  height: auto;
  color: #ffffff;
}

footer h1 {
  padding-left: 43%;
}

.socialscontainer {
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  color: white;
}

.socialswrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.socialscol {
  padding-left: 5%;
  width: 50px;
  flex-basis: 20%;
  display: flex;
}

a {
  height: 50px;
  width: 50px;
}

a img {
  height: 50px;
  width: 50px;
}

.popup {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup.show {
  opacity: 1;
  visibility: visible;
}


.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #ffffff;
  color: black;
  max-width: 800px;
  max-height: 800px;
  padding: 30px;
  position: relative;
}

.btn2 {
  position: absolute;
  right: 10px;
  top: 10px;
}

.popup__title {
  text-align: center;
  font-size: 40px;
}

.popup__text {
  color: red;
}

.modal_bg {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.35);
}

.modal_bg.show {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	transition: opacity 0.25s;
}



@media screen and (max-width: 420px) {
  .card1 {width: 300px; margin-top: 20%;}
  .card2 {width: 300px; margin-top: 30%;}
  .socialscontainer {width: 100vw; margin-left: 0; margin-right: 0;}
  footer h1 {padding-left: 0; text-align: center;}
  






}